body {
  background: rgb(244, 248, 249);
  font-family: Helvetica;
}

h2 {
  margin: 0;
}

.c-tweet {
  background: #FFF;
  padding: 40px;
  border: 2px solid rgb(225, 232, 237);
  border-radius: 8px;
}

/* Header */
.tweet-header {

}

.tweet-header-user {

}

.tweet-header-user-info-name {
  
}

.tweet-header-user-avatar {
  width: 75px;
  height: 75px;
  background: url('img/profile-picture.jpg') no-repeat;
}

.tweet-header-follow {
}


/* Section */

/* Footer */
